.layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
  background: #f1f5f9;
}

.layout-main {
  margin-left: 240px;
  width: calc(100% - 240px);
  height: 100vh;
  overflow-y: auto;
}

.layout-content {
  padding: 30px;
}
